<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Faculties</title>
</head>
<body>

<form th:action="searchFaculty" method="post" th:object="${searchFaculty}">
    <div>
        <label for="universities">Choose a University:</label>
        <select name="universities" id="universities" th:field="*{universityId}">
            <option th:each="university: ${universities}"
                    th:value="${university.id}"
                    th:text="${university.name}"></option>
        </select>
    </div>
    <input type="submit" value="Search">
</form>

<div th:each="faculty: ${faculties}">
    <h2 th:text="${faculty.name}"></h2>
    <p th:text="${faculty.description}"></p>
</div>

</body>
</html>
