<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Travel Destination</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0-1/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.6.0-1/js/bootstrap.min.js}"></script>

</head>
<body>

<div th:align="center">
    <p th:text="${title}"></p>
    <p th:text="${phoneNumber}"></p>

    <p th:text="'Hello ' + ${currentUser}">Hello </p><br>

    <a th:href="logout" type="button" class="btn btn-primary">Logout</a><br>

    <button th:class="btn-outline-info"><a th:href="@{addDestinationPage}">Add destination</a></button>

    <div th:class="h1">
        <p th:class="text-info">List of Travel Destinations</p>
    </div>

    <div th:each="destination: ${destinations}">
        <div th:class="container-fluid">
            <div th:class="card">
                <div th:class="card-body">
                    <div>
                        <p>
                            <span th:text="${destination.name} + ' - ' + ${destination.description}"></span>
                        </p>
                    </div>
                    <div>
                        <p>
                            <span> Locatie:  </span>
                            <span th:text="${destination.country} + ', ' + ${destination.country.continent}"></span>
                        </p>
                    </div>
                    <span>
            <button th:class="btn-outline-primary"><a
                    th:href="@{editDestinationPage(id=${destination.id})}">Edit</a></button>
            <button th:class="btn-outline-danger"><a
                    th:href="@{deletedestination(id=${destination.id})}">Delete</a></button>
            <button th:class="btn-outline-primary"><a
                    th:href="@{offers(id=${destination.id})}">See offers</a></button>
                        <a th:href="@{addOfferPage(id=${destination.id})}" type="button" class="btn btn-success">Add offer</a>
            </span>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</body>
</html>
